{% extends "base.html" %}

{% block content %}
<h1>Azbuka</h1>

<p>
    Azbuka může označovat následující písma vycházející z hlaholice – podle prvních písmen (az) a (buki):
</p>

<ul>
    <li>cyrilice – jak starší, tak novější verze (používané nejen pro zápis slovanských jazyků, ale i mj. mongolštiny,
        kazaštiny)
    </li>
    <li>hlaholice</li>
    <li>graždanka – reformovaná cyrilice z 18. století</li>
    <li>jazykové obměny</li>
    <li>ruská cyrilice</li>
    <li>ukrajinská cyrilice</li>
    <li>mongolská cyrilice</li>
    <li>srbská cyrilice</li>
    <li>další viz seznam jazyků používajících cyrilici</li>
</ul>

<p>jiný význam</p>
<p>abeceda</p>
{% endblock %}