<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base.html</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
<header>
    <h1>Website Header</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="abc">ABC</a></li>
            <li><a href="azb">AZB</a></li>
            <li><a href="alfa">Alpha</a></li>
            <li><a href="heb">Heb</a></li>
        </ul>
    </nav>
</header>

<main>
{% block content %}
{% endblock %}
</main>

<footer>
    <p>Website Footer</p>
</footer>
</body>
</html>