{% extends "base_admin.html" %}

{% block title %}
Editace uživatele
{% endblock %}

{% block content %}
<h2>Editace uživatele</h2>
<form action="{{ url_for('admin.edit_user', user_id=user[0]) }}" method="post">
    <label for="username">Uživatelské jméno:</label>
    <input type="text" id="username" name="username" value="{{ user[1] }}" disabled>
    <br>
    <label for="password">Nové heslo:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="role">Role:</label>
    <select id="role" name="role" required>
        <option value="user" {% if user[2] == 'user' %}selected{% endif %}>User</option>
        <option value="admin" {% if user[2] == 'admin' %}selected{% endif %}>Admin</option>
    </select>
    <br>
    <button type="submit">Uložit změny</button>
</form>
{% endblock %}