{% extends "base.html" %}

{% block content %}
<h1>Hebrejština</h1>

<p>
    Hebrejské písmo je písmo, jímž se zaznamenává hebrejština, jidiš, ladino a dříve též například slovanský lešon
    Kena’an. V průběhu dějin se podoba písma proměňovala. V období 10.–6. století př. n. l. se pro zápis hebrejštiny
    používalo tzv. paleohebrejské písmo, jež vycházelo přímo z fénického písma. S rostoucím vlivem aramejštiny se však k
    zápisu hebrejského textu stále více užívaly aramejské znaky (rovněž z fénického základu), jež byly pro zápis
    hebrejštiny uzpůsobeny do tzv. kvadrátního písma. V dalším průběhu se vyvinuly další typy hebrejského písma, výsadní
    pozici si však dodnes uchoval kvadrátní typ.
</p>
{% endblock %}